############################
# Build results
############################

bin/
obj/
out/
publish/

############################
# Visual Studio
############################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Rider / VS Code
############################

.idea/
.vscode/

############################
# Logs
############################

*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# Node modules (React)
############################

node_modules/
build/
dist/

############################
# Environment files (React)
############################

.env
.env.local
.env.development.local
.env.test.local
.env.production.local


############################
# Package managers
############################

yarn.lock
package-lock.json
pnpm-lock.yaml

.DS_Store

# React Router
/.react-router/